<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
				>
			</PatternLayout>
		</Console>
		<File name="File-Appender" fileName="RestVehicle.log"
			filePattern="${LOG_DIR}/application.%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size=" 1
			MB " />
	</Policies>
		<DefaultRolloverStrategy max="5" />
	</File>
	</Appenders>
	<AsyncRoot level="INFO">
		<AppenderRef ref="File-Appender" />
	</AsyncRoot>
</Configuration>